:root {
    --columns: 12;
    --gutter: 32px;
    --max-width: 1200px;
    --offset: 16px;
    --grid-color: hsl(255deg 75% 75% / 25%);
    --grid-repeating-width: calc(100% / var(--columns));
    --grid-column-width: calc((100% / var(--columns)) - var(--gutter));
    --grid-background-width: calc(100% + var(--gutter));
    --grid-background-columns: repeating-linear-gradient(
        to right,
        var(--grid-color),
        var(--grid-color) var(--grid-column-width),
        transparent var(--grid-column-width),
        transparent var(--grid-repeating-width)
    );
}

html {
    position: relative;
}

html::before {
    position: fixed;
    inset: 0;
    z-index: 9999;
    width: calc(100% - (2 * var(--offset)));
    max-width: var(--max-width);
    min-height: 100vh;
    margin-inline: auto;
    pointer-events: none;
    content: "";
    background-image: var(--grid-background-columns);
    background-size: var(--grid-background-width) 100%;
    opacity: 1;
}

body:not(.show-grid) html::before {
    display: none;
}

@media (width <= 900px) {
    :root {
        --columns: 8;
        --gutter: 24px;
    }
}

@media (width <= 600px) {
    :root {
        --columns: 4;
        --gutter: 16px;
    }
}