* {
    font-family: Inter, sans-serif;
}

body {
    line-height: 1.5;
    color: #000;
    background: #fafafa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}