.index-main {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #000;
    background: #fff;
}

@media (width <= 770px) {
    .index-main > *:not(.hero) {
        padding-inline: 24px;
    }
}