.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: clamp(280px, 45vw, 560px);
  padding-inline: 2rem;
  background: url('./myndir/abstrakt.jpg') center 45% / cover no-repeat;
  isolation: isolate;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    background: rgb(255 255 255 / 60%);
    backdrop-filter: blur(2px);
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    max-width: 960px;
    color: #0b0b0b;
    text-align: center;

    h1 {
      font-size: clamp(1.75rem, 3.5vw + 0.5rem, 6rem);
      font-weight: 700;
      line-height: 1.1;
    }

    p {
      font-size: clamp(1.05rem, 1.2vw + 0.8rem, 1.9rem);
      font-weight: 500;
      color: #64748B;
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  padding-block: 3rem;

  .content-inner {
    width: 100%;
    max-width: 1025px;
    padding-inline: 1rem;
    color: #0b0b0b;

    h2 {
      margin-top: 3rem;
      margin-bottom: .5rem;
      font-size: clamp(1.25rem, 1rem + .8vw, 1.5rem);
      line-height: 1.2;
    }

    .year {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      color: #6b7280;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.7;
    }
  }
}

@media (width <= 768px) {
  .about {
    min-height: clamp(300px, 55vw, 420px);
    background-position: 50% 40%;
  }

  .content .content-inner {
    max-width: 640px;
  }
}

@media (width >= 1200px) {
  .about > div { max-width: 1000px; }
}