body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    line-height: 1.5;
    color: #000;
    background: #fafafa;
}

.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}