@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz,wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    color: #000;
    background: #fafafa;
}

.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}